
/* FOOTER */

footer {
  margin-top: 4rem;
  line-height: 1.6;
  background-color: #3a758c;
  color: white;
}

a i {
  font-size: 24px;
  color: #fff;
  margin: 0 10px;
}

a:hover i {
  color: #6b8e9e; /* eller din accentfarve */
}



footer {
    background-color: #3D7A95; 
    color: white;
    text-align: center;
    padding: 40px 20px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer-socials {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .footer-socials img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
