@media (min-width: 800px) {

/* FØRSTE SEKTION */
.sec1{
    text-align: center;
}



/* ANDEN SEKTION */
.sec2{
    background-color: rgba(0, 80, 115, 0.58);
    padding: 50px;
    color: white;
    display: flex;
    line-height: 25px;
}

#oliver{
    width: 100%;
    margin-left: 50%;
    margin-top: 20%;
}


/* TREDJE SEKTION */
.sec3{
    text-align: center;
    padding: 100px;
    line-height: 50px;
}

/* GALLERI */
.galleri{
    background-color: rgba(0, 80, 115, 0.58);
    padding: 60px;
}

.galleri_layout{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
width: 100%;
gap: 20px;
justify-items: center;
object-fit: cover;

}


.sec4{
    padding: 50px;
    line-height: 25px;
}

footer{
    background-color: rgba(0, 80, 115, 0.58);
    text-align: center;
    padding: 20px;
    color: white;
}

}











@media (max-width: 800px) {
    /* FØRSTE SEKTION */
.sec1{
    text-align: center;
}



/* ANDEN SEKTION */
.sec2{
    background-color: rgba(0, 80, 115, 0.58);
    padding: 50px;
    color: white;
    line-height: 25px;
}

#oliver{
    width: 100%;
    padding-top: 20px;
}




/* TREDJE SEKTION */
.sec3{
    text-align: center;
    padding: 100px;
    line-height: 35px;
}

/* GALLERI */
.galleri{
    background-color: rgba(0, 80, 115, 0.58);
    padding: 60px;
}

.galleri_layout{
display: grid;
grid-template-columns: 1fr 1fr;
object-fit: cover;
width: 100%;
height: 100%;
}
.sec4{
    padding: 50px;
    line-height: 25px;
}

footer{
    background-color: rgba(0, 80, 115, 0.58);
    text-align: center;
    padding: 20px;
    color: white;
}
}
